<html>
    <head>
        <title>{% block title %}Filmothèque{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{asset('bundles/demoappfilmotheque/css/main.css') }}" type="text/css" media="all" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	<body>
	   <div id="page">    
	<div id="header">
		<img src="{{ asset('bundles/demoappfilmotheque/images/logo.png') }}" alt="Filmothèque" width="128" height="128" />
		<ul id="menu">
		    <li><a href="{{ path('demoapp_filmotheque_accueil') }}">{% trans %}menu.accueil{% endtrans %}</a></li>
		    <li><a href="{{ path('demoapp_film_lister') }}">{{"menu.films"|trans}}</a></li>
		    <li><a href="{{ path('demoapp_acteur_lister') }}">{{"menu.acteurs"|trans}}</a></li>       
			<li><a href="{{ path('demoapp_categorie_lister') }}">{{"menu.categories"|trans}}</a></li>			
		</ul>
		<div id="choisir_langue">Choisir la langue :
			<a href="{{ path('demoapp_choisir_langue', {'langue' : 'fr'}) }}">FR</a> |
			<a href="{{ path('demoapp_choisir_langue', {'langue' : 'en'}) }}">EN</a>
		</div>
		<div id="connexion">
			{% include "DemoAppUtilisateurBundle::connexion.html.twig" %}
		</div>
    </div>

            <div id="content">
                <h1>{{ block('title') }}</h1>
                {% block content %}
                {% endblock %}
            </div>
            <div id="footer">
                <p>Tous droits réservés © 2014</p>
            </div>
        </div>
    </body>
</html>
